COMPOSE_PROJECT_NAME=darazsaas
DATABASE_URL=postgres://daraz_user:daraz_password@postgres:5432/daraz_saas
REDIS_URL=redis://redis:6379/0
SECRET_KEY=supersecretkey-for-local-dev
DEBUG=1
DJANGO_SETTINGS_MODULE=config.settings.local
FIELD_ENCRYPTION_KEY=N0L2Fh3GZtT7mJbXk2O4u1N6V-A3R8zYc9kQ7aBwR6k=
NEXT_PUBLIC_API_URL=http://localhost:8000/api
CORS_ALLOWED_ORIGINS=http://localhost:3000
SESSION_COOKIE_DOMAIN=localhost
REFRESH_COOKIE_DOMAIN=localhost
